@model Testing.Models.Employee

@{
    ViewBag.Title = "Home Page";
}

<div class="row">

</div>

<div class="row">
    <div id="formsIndex">
        @Html.Partial("_TestForm");
    </div>
</div>

@section scripts {
       <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}